
@{
    ViewData["Title"] = "Deposit history";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}

<h1><i class="fa fa-money-check-alt"></i> Diposit general history</h1>
<input class="form-control col-4" type="search" placeholder="Search by: Trace Id, Authority, Wallet Id..." />
<table class="table table-borderless mt-3">
    <thead>
        <tr>
            <th>Trace Id</th>
            <th title="Toman">Amount</th>
            <th title="Wallet Id">Destination Id</th>
            <th>State</th>
            <th>Created Date & Time</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>256481256651</td>
            <td>2,000</td>
            <td>1354785214</td>
            <td><i class="fa fa-check text-success"></i></td>
            <td>Now</td>
            <td></td>
        </tr>
    </tbody>
</table>

@section Scripts {
<script>
        var app = new Vue({
               el: '#app',
               mounted: function() {
                   this.getWallets();
               },
               data: {
                   deposits: {
                       state: 0,
                       list: []
                   }
               },
               methods: {
                   getDeposits: async function() {
                       var myHeaders = new Headers();
                       myHeaders.append("Authorization", "Bearer 2UzPh9afwUr9lOiX6tO_0w");
                       await fetch(consts.urls.baseUrl + "/manage/wallet/getAll", {
                           method: 'GET',
                           headers: myHeaders,
                           redirect: 'follow'
                       });
                       this.deposits.list = [
                           {
                               seed: "256481256651",
                               Amount: "2,000",
                               Destination: {
                                   Id: "1354785214"
                               },
                               createDateTime: "Now",
                               owner: "Reza Ahmadi"
                           },
                           {
                               seed: "84521463280",
                               Amount: "35,800",
                               Destination: {
                                   Id: "365482355"
                               },
                               createDateTime: "Now",
                               owner: "Reza Ahmadi"
                           },
                           {
                               seed: "17520147786",
                               Amount: "853,000",
                               Destination: {
                                   Id: "9846451655"
                               },
                               createDateTime: "Now",
                               owner: "Reza Ahmadi"
                           },
                       ]
                   }
               }
           });
</script>
}