
@{
    ViewData["Title"] = "Deposit history";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}

<h1><i class="fa fa-money-check-alt"></i> Diposit general history</h1>
<input class="form-control col-4" type="search" placeholder="Search by: Trace Id, Authority, Wallet Id..." />
<table class="table table-borderless mt-3">
    <thead>
        <tr>
            <th>Trace Id</th>
            <th title="Toman">Amount</th>
            <th title="Wallet Id">Destination Id</th>
            <th>State</th>
            <th>Created Date & Time</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>256481256651</td>
            <td>2,000</td>
            <td>1354785214</td>
            <td><i class="fa fa-check text-success"></i></td>
            <td>Now</td>
            <td></td>
        </tr>
    </tbody>
</table>

