@{
    ViewData["Title"] = "Wallets manage";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}
<h1><i class="fa fa-wallet"></i> Wallet manager</h1>

<table class="table table-borderless table-striped mt-3">
    <thead>
        <tr>
            <th>Seed</th>
            <th>Creation Date</th>
            <th>Owner</th>
        </tr>
    </thead>
    <tbody class="small">
        @* Loading *@
        <tr v-if="wallets.state === 0">
            <td class="text-center" colspan="6">Loading ...</td>
        </tr>
        @* Loaded succedd *@
        <tr v-if="wallets.state === 200" v-for="wallet in wallets.list">
            <td>{{wallet.seed}}</td>
            <td><span v-bind:title="wallet.createdDateTime.persianDateTime">{{wallet.createdDateTime.dateTime}}</span></td>
            <td>{{wallet.owner ? wallet.owner.name : ''}} {{wallet.owner ? wallet.owner.surname : ''}}</td>
            <td></td>
        </tr>
        @* Not Found *@
        <tr v-else>
            <td class="text-center" colspan="6">No items found!</td>
        </tr>
    </tbody>
</table>

@section Scripts {
    <script>
        var app = new Vue({
            el: '#app',
            mounted: async function() {
                await this.getWallets();
            },
            data: {
                wallets: {
                    state: 0,
                    list: []
                }
            },
            methods: {
                getWallets: async function() {
                    var myHeaders = new Headers();
                    myHeaders.append("Authorization", "Bearer eyJhbGciOiJBMTI4S1ciLCJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwidHlwIjoiSldUIn0.xzpLhfczu-_HrwjifFbmm_NtFV8XsNhdKELiTI0KCLaRr3hUfqDe9w._WIxY2oPr-cTXl9gQaILbA.GGFpZ-RmhA-YGCUhGaHa2XcSeXaKMcL7OKxR6LT_Mza1MFOL3_ZKc9k6_ey5KS51kYDaBl-UI-FmWxv7sjV6eNJ8GM8c_NdTVqU_QI69RXbdwyyGux3E-PdQu1daTLAwUnt2FqHoggQNHHMHEg-ul6fOkQ8M28gghbqdTPU2uTVhvbXjqYg13NZfCvoUllRUxttzH6ppmKsQr7SkxxdyVA_Qci32WC_h010tbg7DEk4VGyM91arWHJUV3SwyH0vBbXOg368pDniA_nksc2-YeWslKD6B0nDk-LfaS-mGOqXfeiXh7xYvggHjRSykasSnhBqq3ALeRQ2MxGLXmWDHqyPDfiz5jip_7TQIu-GeKSl3dDINIqISqsbVw543q_Gm.tIw4JwQQlUdCeQtYvVcv4g");
                    debugger
                    console.log('')
                    var response = await fetch('https://localhost:44383' + "/manage/wallet/getAll", {
                        method: 'GET',
                        headers: myHeaders,
                        redirect: 'follow'
                    });
                    let result = await response.json();
                    if (result) {
                        if (result.statusCode == 200) {
                            this.mapWallets(result.data.items);
                        }
                        this.wallets.state = result.statusCode;
                    }
                },
                mapWallets: function(walletsResult) {
                    this.wallets.list = walletsResult.map(function(wallet) {
                        return {
                            id: wallet.id,
                            seed: wallet.seed,
                            createdDateTime: {
                                dateTime: wallet.createdDateTime,
                                persianDateTime: new persianDate(wallet.createdDateTime).format('dddd, DD MMMM YYYY - HH:mm')
                            },
                            owner: wallet.owner
                        };
                    });
                    this.setupTooltip()
                },
                setupTooltip: function() {
                    setTimeout(function() {
                        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[title]'))
                        var tooltipList = tooltipTriggerList.map(function(tooltipTriggerEl) {
                            return new bootstrap.Tooltip(tooltipTriggerEl)
                        })
                    }, 10)
                }
            }
        });
    </script>
}