@{
    ViewData["Title"] = "Wallets manage";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}
<h1><i class="fa fa-wallet"></i> Wallet manager</h1>

<table class="table table-borderless">
    <thead>
        <tr>
            <th>Seed</th>
            <th>Creation Date</th>
            <th>Owner</th>
        </tr>
    </thead>
    <tbody class="small">
        <tr v-for="wallet in wallets.list">
            <td>{{wallet.seed}}</td>
            <td>{{wallet.createDateTime}}</td>
            <td>{{wallet.owner}}</td>
            <td></td>
        </tr>
    </tbody>
</table>
{{message}}

@section Scripts {
<script>
        var app = new Vue({
               el: '#app',
               mounted: function() {
                   this.getWallets();
               },
               data: {
                   wallets: {
                       state: 0,
                       list: []
                   }
               },
               methods: {
                   getWallets: async function() {
                       var myHeaders = new Headers();
                       myHeaders.append("Authorization", "Bearer eyJhbGciOiJBMTI4S1ciLCJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwidHlwIjoiSldUIn0.YTmTgaF_qHH5714yyyJNFdvKgieIOpeY7toAjEKd1HIgZWfLO3Btcw.Sr2DSg6eE53K7gDh97vRvA.d0xd-jNSFRNpltpgdcrbZwtvlYsNxuMueuLtPvVRrf9H7hupFjX3o9nazHx9Vg7uffQ96Tti-sdnNhYOIC20WKr8ZB8Hu1SIRzjmgTcLJtCSNMSuLIrp-OcShb92aqIuMVxBHImu7ZQY--tiQvQtHTMY_LlVyjGh4bjaVEUa1DcjVTWPpgbSpE1ztDiY1xuXUqnYVEVw46SFP5vebp0y7OXlNaEnh0l_micC6zitphE6eEgYkwK16vmkY9vp7z1LqD3TGTikDfE8rWE-2dEMfMepdrEoFWvKE2q-UuQyEswjqkxO6ct4BiifECc7wM6fr39hyD8ntQFHGMXO-O0meUEBTBmCXvZMDCrkL3kler7wCqBTGz3yYIoLIcome4Yr.2UzPh9afwUr9lOiX6tO_0w");
                       await fetch("https://localhost:5001/manage/wallet/getAll", {
                           method: 'GET',
                           headers: myHeaders,
                           redirect: 'follow'
                       });
                       this.wallets.list = [
                           {
                               seed: "6863546531685811",
                               createDateTime: "2022/05/22 22:15:38",
                               owner: "Reza Ahmadi"
                           },
                           {
                               seed: "4653116556886813",
                               createDateTime: "2022/05/21 17:03:26",
                               owner: "Mohsen Noori"
                           },
                           {
                               seed: "8465316356851681",
                               createDateTime: "2022/04/11 15:48:08",
                               owner: "Mohammad Namei"
                           },
                           {
                               seed: "6863546531685811",
                               createDateTime: "2022/02/03 00:47:11",
                               owner: "Mehrdad Azarhoosh"
                           },
                           {
                               seed: "145725653162588",
                               createDateTime: "2022/01/08 18:22:05",
                               owner: "Mahbod Maleki"
                           }
                       ]
                   }
               }
           });
</script>
}